@page "/getintouch"


<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead my-3">
        <p>
            <i class="fa-solid fa-phone text-primary"></i> +905536972626
        </p>
        <p>
            <i class="fa-solid fa-address-card text-primary"></i> Bilecik/Bozüyük
        </p>
        <p>
            <i class="fa-solid fa-envelope text-primary"></i> mergen1328@gmail.com
        </p>
    </div>
</div>

