<!-- Password visibility toggle -->
<div class="text-danger text-center my-5">
    <h3 class="display-3">
        <i class="fa-solid fa-bug-slash fa-2xl"></i>
        <br>
        Acces Denied
    </h3>

</div>