@model IEnumerable<Category>

<div class="mt-5">
    <h6 class="lead">
        <i class="fa-solid fa-rectangle-list"></i>
        Categories
    </h6>

</div>

<div class="my-3">
    <ul class="list-group">
        @foreach (var cat in Model)
        {
            <li class="list-group-item">
                <a asp-action="Index" asp-route-categoryId="@cat.CategoryId">@cat.CategoryName</a>

            </li>
        }
    </ul>
</div>
